/* Nucers的主题样式 */
.vditor-reset {
    /* 设置颜色变量 */
    --preview-main-color: #484848;
    --preview-divider-color: #d4d4d4;
    --preview-blockquote-color: #484848;
    --preview-blockquote-bg: #e1e3e6;
}

.vditor-reset {
    color: var(--preview-main-color);
}

.vditor-reset h1,
.vditor-reset h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--preview-divider-color);
}
.vditor-reset hr {
    background-color: var(--preview-divider-color);
}
.vditor-reset blockquote {
    color: var(--preview-main-color);
    padding: 10px;
    border-left: 0.25em solid var(--preview-blockquote-color);
    background-color: var(--preview-blockquote-bg);
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.vditor-reset iframe {
    border: 1px solid #d1d5da;
}
.vditor-reset table tr {
    border-top: 1px solid #c6cbd1;
    background-color: white;
}
.vditor-reset table td,
.vditor-reset table th {
    border: 1px solid #dfe2e5;
}
.vditor-reset table tbody tr:nth-child(2n+1) {
    background-color: #ededef;
}
.vditor-reset code:not(.hljs):not(.highlight-chroma) {
    color: white;
    margin: 0 5px;
    background-color: var(--preview-blockquote-color);
}
.vditor-reset kbd {
    color: #24292e;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    box-shadow: inset 0 -1px 0 #d1d5da;
}
.vditor-speech {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    color: #586069;
}
.vditor-speech--current,
.vditor-speech:hover {
    color: #4285f4;
}
.vditor-linkcard a {
    background-color: #f6f8fa;
}
.vditor-linkcard a:visited .vditor-linkcard__abstract {
    color: rgba(88, 96, 105, 0.36);
}
.vditor-linkcard__title {
    color: #24292e;
}
.vditor-linkcard__abstract {
    color: #586069;
}
.vditor-linkcard__site {
    color: #4285f4;
}
.vditor-linkcard__image {
    background-color: rgba(88, 96, 105, 0.36);
}
